@import '../../scss/utils/mixins';


.aside {
   height: 100%;
   padding: 1.5rem 0;
   &--paper {
    height: 100% !important;
    h3 {
        color: $primary-color;
        text-align: center;
    }
}
}


@import '../../scss/utils/responsive';