@import "./variables";

@mixin center-content-x {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center-content-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  height: 36px;
  min-width: 100px;
  padding: 0 1rem;
  position: relative;
  border: 1px solid $white;
  @include center-content-x;
  white-space: nowrap;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
  }
}

// utlility classes

.container {
  max-width: 1080px;
  margin: auto;
}

.h1__txt {
  font-size: 1.5rem;
  font-weight: 500;
  color: $main-typo;
  margin-bottom: 1.5rem;
  &::first-letter {
    text-transform: uppercase;
  }
}

.h2__txt {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.35em;
  margin: 0;
  color: $main-typo;
  span {
    font-weight: 500;
  }
}

.normal__txt {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.1em;
  margin: 0;
  color: $main-typo;
}

.light__txt {
  font-size: 0.9em;
  font-weight: 300;
  color: $grey;
}

.btn__txt {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.625em;
  color: $white;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.btn__primary {
  background: $primary-color;
  color: $white;
  font-size: 0.9rem;
  font-weight: 500;
  &.btn__invert {
    background: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.btn__success {
  background: $green;
  color: $white;
}

.btn__trans {
  background: transparent;
}

.paper {
  border-radius: 10px !important;
  padding: 1rem;
}