// Media queries

@mixin breakpoints($point) {
  @if $point == 4k {
    @media screen and (min-width: 3840px) {
      @content;
    }
  }
  @if $point == 2k {
    @media screen and (min-width: 2048px) {
      @content;
    }
  }
  @if $point == largescreens {
    @media screen and (min-width: 1920px) {
      @content;
    }
  } @else if $point == midscreens {
    @media screen and (min-width: 1281px) {
      @content;
    }
  } @else if $point == laptop {
    @media screen and (max-width: 1280px) {
      @content;
    }
  } @else if $point == ipad {
    @media screen and (max-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $point == largmobile {
    @media screen and (max-width: 560px) {
      @content;
    }
  } @else if $point == smallmobile {
    @media screen and (max-width: 360px) {
      @content;
    }
  }
}

@include breakpoints(midscreens) {
  
  
}

@include breakpoints(ipad) {
  .container {
    max-width: 960px;
  }
}

@include breakpoints(tablet) {

  .container {
    max-width: 90%;
  }

  .layout {
    &--grid {
        &__aside {
          display: none;
        }
    }

}


}

@include breakpoints(largmobile) {

  .h1__txt {
    font-size: 1.2rem;
  }

  .nav {
    &--bar {
        &__actions {
            .nav--btn {
              display: none;
            }
        }
    }
    .nav--menu {
        display: block;
    }
  }
  .posts {
    .post {
      &--header {
        &__title {
          font-size: 1rem;
          margin-left: 0.5rem;
        }
      }
      &--footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        &__keyword {
          margin: 0;
        }
      }
    }
  }

}

@include breakpoints(smallmobile) {

 
}
